
ul {
    padding: 0px;
}

.qa {
    list-style: none;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 10px 0;
}


.avatar-group{
    width: 38px;
    height: 100%;
    float: left;
}

.avatar-group .avatar{
    width: 38px;
    height: 38px;
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    border-radius: 75%;
}

.question-group{
    float: left;
    width: 660px;
    margin-left: 10px;
}

.question-title a{
    color: #359;
    font-weight: 900;
}

.question-info{
    text-align: right;
}

.question-info .question-author{
    margin-right: 20px;
}